

:root{
--Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
--Very-light-gray-bkg-h-btn: hsl(0, 0%, 95%);
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--font-big: 'Big Shoulders Display', cursive;
--font-luxend: 'Lexend Deca', sans-serif;
}

body{
    background-color: var(--Very-light-gray-bkg-h-btn);
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: var(--font-luxend);
    line-height: 1.5;
}

h1{
    color: var(--Very-light-gray-bkg-h-btn);
    font-family: var(--font-big);
    font-size: 30px;
    font-weight: 700;
}

p{
    color: var(--Transparent-white-paragraphs);
    font-size: 13px;
    font-weight: 400;
}

.card{
    display: flex;
    flex-direction: row;
    max-width: 50rem;
    

}


/* First Section  */
.first{
    background-color: var(--Bright-orange);
    padding: 40px 60px 40px 30px;
}


/* Second Section  */
.second{
    background-color: var(--Dark-cyan);
    padding: 40px 60px 40px 30px;
}

/* Third Section  */
.third{
    background-color: var(--Very-dark-cyan);
    padding: 40px 60px 40px 30px;
}


/* Button  */
.btn {
    border-style: none;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: var(--Bright-orange);
    font-size: 12px;
    background: var(--Very-light-gray-bkg-h-btn);
    padding: 12px 20px 12px 20px;
    margin-top: 40px;
    
    text-decoration: none;
  }
  
  .btn:hover {
    background: transparent;
    color: var(--Very-light-gray-bkg-h-btn);
    text-decoration: none;
    border-style: solid;
    border-color: var(--Transparent-white-paragraphs);
  }

  .b2{
      color: var(--Dark-cyan);
  }
  .b2:hover{
      color: var(--Very-light-gray-bkg-h-btn);
      border-radius: 28px;
  }

  .b3{
      color: var(--Very-dark-cyan);
  }
  .b3:hover{
      color: var(--Very-light-gray-bkg-h-btn);
      border-radius: 28px;
  }



  @media screen and (max-width: 1000px) {

        h1{
            font-size: 18px;
        }
        
        p{
            font-size: 9px;
            margin-top: -1px;
        }
        
        .card{
            flex-direction: column;
            max-width: 10rem;
            border-radius: 3%;
            margin: 15px auto;
        }
        
        .svg{
            width: 30px;
        }
        
        
        /* First Section  */
        .first{
            padding: 20px 25px 20px 22px;
            border-top-left-radius: 3%;
            border-top-right-radius: 3%;
        }
        
        
        /* Second Section  */
        .second{
            padding: 20px 25px 20px 22px;
        }
        
        /* Third Section  */
        .third{
            padding: 20px 25px 20px 22px;
            border-bottom-left-radius: 3%;
            border-bottom-left-radius: 3%;
        }
        
        
        /* Button  */
        .btn {
            font-size: 8px;
            padding: 6px 13px;
            margin-top: 0;
        }
  }


/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */